{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown }}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Отправить этот пост
        </a>
    </p>

    <h2>Похожие посты</h2>
    {% for post in similar_post %}
        <p>
            <a href="{{ post.get_absolute_url}}">{{ post.title }}</a>
        </p>
    {% empty %}
        Нет похожих постов...
    {% endfor %}

    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} комментарий(ев) {{ total_comments|pluralize }}
    </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }} пользователя {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>Тут нет комментариев</p>
    {% endfor %}
    {% include "blog/post/includes/comment_form.html" %}
{% endblock %}